<h1>Asientos</h1>
<div class="ml-5 mr-5">
	{{! Iteramos el array de asientos }}
	<form action="/API/asientos" method="post">
		{{#each asientos}}
			<div class="form-check form-check-inline">
				{{! Si el asiento esta vendido, dejamos el checkbox deshabilitado, pues no se debe poder comprar }}
				{{#if this.vendido}}
					<input
						class="form-check-input"
						type="checkbox"
						id="inlineCheckbox{{this.numero}}"
						value="option{{this.numero}}"
						disabled
					/>
					{{! Si no esta vendido, entonces se deja habilitado }}
				{{else}}
					<input
						class="form-check-input"
						type="checkbox"
						id="inlineCheckbox{{this.numero}}"
						value="option{{this.numero}}"
					/>
				{{/if}}
				<label
					class="form-check-label"
					for="inlineCheckbox{{this.numero}}"
				>{{this.numero}}</label>
			</div>
		{{/each}}
		<input type="submit" class="fadeIn fourth" value="Iniciar sesión" />
	</form>
</div>

<form action="/API/asientos" method="post">
	{{! 	<input
		type="text"
		id="login"
		class="fadeIn second"
		name="user"
		placeholder="Usuario"
	/> }}
	<input type="checkbox" name="asientos" value="1" />
	<input type="checkbox" name="asientos" value="2" />
	<input type="submit" class="fadeIn fourth" value="Iniciar sesión" />

</form>