<link rel="stylesheet" href="./css/style.css" />

<body>
	<div class="jumbotron jumbotron-fluid">
		<nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top">
			<a class="navbar-brand text-light" href="#">Navbar</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link text-light" href="#">Home
							<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="#">Link</a>
					</li>
					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle text-light"
							href="#"
							role="button"
							data-toggle="dropdown"
							aria-expanded="false"
						>
							Dropdown
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else
								here</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light disabled">Disabled</a>
					</li>

				</ul>
				<h3 class="text-white mr-5">
					<ion-icon
						class="mr-2"
						name="person-circle-outline"
					></ion-icon>{{usuario}}</h3>
				{{!             <button type="button" class="btn btn-light ml-3" data-toggle="modal" data-target="#modalIniciarSesion">Iniciar sesión</button>
            <button type="button" class="btn btn-light ml-3" data-toggle="modal" data-target="#modalRegistro">Registrarse</button> }}
			</div>
		</nav>
		<div class="container">
			<h1
				class="display-4 text-center text-light font-weight-bold"
			><ion-icon name="ticket-outline"></ion-icon></h1>
			<h1 class="display-4 text-center text-light font-weight-bold">
				Ticketera</h1>
		</div>
		<p class="text-right mr-2 text-light" id="creditosPortada"><small>Foto
				de
				<a
					id="creditosLink1"
					class="text-light"
					href="https://unsplash.com/@yvettedewit?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
				>Yvette de Wit</a>
				en
				<a
					class="text-light"
					id="creditosLink2"
					href="https://unsplash.com/es/s/fotos/concert?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
				>Unsplash</a></small></p>
	</div>

	<div class="container-sm mt-5 mb-5">
		<div class="input-group mb-5">
			<input
				type="text"
				id="buscar"
				class="form-control shadow"
				placeholder="Buscar"
				aria-label="Buscar"
				aria-describedby="button-addon2"
			/>
			<div class="input-group-append">
				<!-- <button class="btn btn-outline-secondary mr-5" type="button" id="button-addon2">Button</button> -->
				<div class="dropdown">
					<button
						id="botonCat"
						class="btn btn-secondary dropdown-toggle grisClaro"
						type="button"
						data-toggle="dropdown"
						aria-expanded="false"
					>
						Categoría
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Infantil</a>
						<a class="dropdown-item" href="#">Romance</a>
						<a class="dropdown-item" href="#">Terror</a>
					</div>
				</div>
			</div>
		</div>
		<div class="card-deck text-light text-center">
			{{#each eventos}}
				<div class="card shadow">
					<img src="{{this.imagen}}" class="card-img-top" alt="..." />
					<div class="card-body">
						<h5 class="card-title">{{this.nombre}}</h5>
						<p class="card-text"></p>

						<button
							type="button"
							class="btn btn-light"
							data-toggle="modal"
							data-target="#modalVerFechas{{this._id}}"
						>Ver fechas</button>
					</div>
				</div>
			{{/each}}
			{{! 			<div class="card shadow">
				<img
					src="./img/products/lollapalooza.jpg"
					class="card-img-top"
					alt="..."
				/>
				<div class="card-body">
					<h5 class="card-title">Lollapalooza 2022</h5>
					<p class="card-text">This is a longer card with supporting
						text below as a natural lead-in to additional content.
						This content is a little bit longer.</p>

					<button
						type="button"
						class="btn btn-light"
						data-toggle="modal"
						data-target="#modalVerFechas"
					>Ver fechas</button>
				</div>
			</div>
			<div class="card shadow">
				<img
					src="./img/products/primaverasoundsantiago.jpg"
					class="card-img-top"
					alt="..."
				/>
				<div class="card-body">
					<h5 class="card-title">Primavera sound Santiago</h5>
					<p class="card-text">This card has supporting text below as
						a natural lead-in to additional content.</p>
				</div>
			</div>
			<div class="card shadow">
				<img
					src="./img/products/vangogh.jpg"
					class="card-img-top"
					alt="..."
				/>
				<div class="card-body">
					<h5 class="card-title">Meet Vicent Van Gogh</h5>
					<p class="card-text">This is a wider card with supporting
						text below as a natural lead-in to additional content.
						This card has even longer content than the first to show
						that equal height action.</p>
				</div>
			</div> }}
		</div>
	</div>
	{{#each eventos}}
		<div
			class="modal fade"
			id="modalVerFechas{{this._id}}"
			tabindex="-1"
			aria-labelledby="exampleModalLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5
							class="modal-title"
							id="exampleModalLabel"
						>Fechas</h5>
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close"
						>
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<img
							src="{{this.imagen}}"
							class="card-img-top"
							alt="..."
						/>
						<div id="fechas" class="card" style="">
							<ul class="list-group list-group-flush">
								{{#each this.fechas}}
									<li class="list-group-item">
										{{this}}
										<a
											type="button"
											class="btn btn-danger ml-5"
											{{!-- href="/asientos/636841694db786284b93cdfd" 
											El ../ es para hacer referencia al each de más afuera
											--}}
											href="/asientos/{{../this._id}}"
										>Comprar asientos</a>
									</li>
								{{/each}}
							</ul>
						</div>
					</div>
					<div class="modal-footer">
						<button
							type="button"
							class="btn btn-secondary"
							data-dismiss="modal"
						>Cerrar</button>
						<button
							type="button"
							class="btn btn-primary"
						>Enviar</button>
					</div>
				</div>
			</div>
		</div>
	{{/each}}
</body>